#navigation {
    margin:0px;
    padding:0px;
    position:absolute;
    top:0;
    left:80px;
    box-shadow:none;
}

#navigation {
    width:auto;
    padding:0;
    margin:0;
    padding:0;
    overflow:hidden;
    margin:0;
    background-color:transparent;
    display:block !important;
}

#navigation div ul li {
    float:left;
    padding:0px;
    margin:0px;
    height:44px;
    background-color:rgb(29, 45, 68);
}

#navigation div ul li a {
    margin:0;
    padding:12px;
    padding-left:6px;
    padding-right:6px;
    width:50px;
    position:relative;
}

#navigation div li .app-icon {
    width:20px;
    float:left;
}

.app-loading, .icon-loading-dark {
    background-image:none;
}

#navigation div li span {
    display:none;
}
#navigation div li:hover a,
#navigation div a.active {
    width:120px !important;
}
#navigation div li:hover span,
#navigation div a.active span {
   display:block;
   float:left;
   background-color:rgb(29, 45, 68);
}

.menutoggle {
    display:none !important;
}
