@media only screen and (min-width: 640px) {
    #navigation {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 80px;
        box-shadow: none;
        overflow: visible!important;
    }
    #navigation {
        width: auto;
        padding: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin: 0;
        background-color: transparent;
        display: block!important;
    }
    #navigation div ul {
        position: relative
    }
    #navigation div ul:after {
        content: ".";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
    }
    #navigation div ul li {
        float: left;
        padding: 0;
        margin: 0;
        height: 44px;
    }
    #navigation div ul li a {
        margin: 0;
        padding: 12px;
        padding-left: 6px;
        padding-right: 6px;
        width: 50px;
        height: 44px;
        position: static;
        text-align: center;
        color: #1d2d44!important;
    }
    #navigation div li .app-icon {
        height: 20px;
        width: 20px;
    }
    .app-loading,
    .icon-loading-dark {
        background-image: none
    }
    #navigation div li span {
        display: none;
        position: absolute;
        overflow: visible;
        left: 0;
        top: 45px;
        z-index: 999;
        background-color: #FFF;
        border: 1px solid #000;
        color: #000;
        min-width: 120px;
    }
    #navigation div li:hover a {
        position: relative
    }
    #navigation div li:hover a.active {
        position: static
    }
    #navigation div li:hover span {
        display: block
    }
    #navigation #apps-management a span {
        display: none
    }
    #navigation div li:hover span {
        background-color: white;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border: 1px solid #1d2d44;
        color: #1d2d44;
        left: 50%;
        margin-left: -60px;
        box-shadow: 4px 4px 5px #888;
    }
    #navigation div a.active span {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0 solid #1d2d44;
        color: white;
        background-color: transparent;
        margin-left: 0;
        left: inherit;
        right: -120px;
        text-align: left;
        top: 0;
        bottom: 0;
        line-height: 44px;
        font-size: 13px;
        width: 120px;
        box-shadow: none;
    }
    #navigation div li:hover span,
    #navigation div a.active span {
        display: block
    }
    #navigation div li:hover span:after,
    #navigation div li:hover span:before {
        content: " ";
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        margin-left: -9px;
    }
    #navigation div li:hover span:after {
        border-bottom-color: white;
        border-width: 8px;
        margin-left: -8px;
    }
    #navigation div li:hover span:before {
        border-bottom-color: black;
        border-width: 9px;
    }
    a.menutoggle {
        display: none!important
    }
    #apps-management {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100);
        filter: alpha(opacity=100);
    }
    #apps-management a:hover img {
        -moz-opacity: 0.80;
        -khtml-opacity: 0.80;
        opacity: 0.80;
        -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
        filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
        filter: alpha(opacity=80);
    }
}
