@media only screen and (min-width: 980px) {
	#navigation {
		margin:0px;
		padding:0px;
		position:absolute;
		top:0;
		left:80px;
		box-shadow:none;
		overflow: initial !important;
	}

	#navigation {
		width:auto;
		padding:0;
		margin:0;
		padding:0;
		overflow:hidden;
		margin:0;
		background-color:transparent;
		display:block !important;
	}

	#navigation div ul{
		position:relative;
	}
	#navigation div ul:after {
		content: ".";
		clear: both;
		display: block;
		visibility: hidden;
		height: 0px;
	}
	#navigation div ul li {
		float:left;
		padding:0px;
		margin:0px;
		height:44px;
	}

	#navigation div ul li a {
		margin:0;
		padding:12px;
		padding-left:6px;
		padding-right:6px;
		width:50px;
		height: 44px;
		position: initial;
		text-align: center;
		color: #1d2d44 !important;
	}

	#navigation div li .app-icon {
		width: 20px;
	}

	.app-loading, .icon-loading-dark {
		background-image:none;
	}

	#navigation div li span {
		position: absolute;
		bottom: -22px;
		display: none;
	}
	#navigation div li:hover a {
		position: relative;
	}
	#navigation div li:hover a.active {
		position: initial;
	}
		#navigation div li:hover span {
			background-color: white;
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border: 1px solid #1d2d44;
			color: #1d2d44;
			left: 50%;
			margin-left: -40px;
		}
		#navigation div a.active span {
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			border: 0px solid #1d2d44;
			color: white;
			background-color: transparent;
			margin-left: 0px;
			left: initial;
			right: -120px;
			text-align: left;
			top: 0px;
			bottom: 0px;
			line-height: 44px;
			font-size: 18px;
			width: 120px;
		}
	#navigation div li:hover span,
	#navigation div a.active span {
	   display:block;
	}

	.menutoggle {
		display:none !important;
	}
	
	#apps-management {
	
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter:alpha(opacity=100);
	}
	#apps-management a:hover  img {
		-moz-opacity: 0.80;
		-khtml-opacity: 0.80;
		opacity: 0.80;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
		filter:alpha(opacity=80);
	}
}